{% extends "BeniBdthequeBundle::Default/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <h2 class="txt-white">Mot de passe oublié</h2>
    <div class="well">
        {% block fos_user_content %}
            <p>Un email a été envoyé à {{ email }}. Il contient un lien sur lequel vous devez cliquer pour changer votre
                mot de passe.</p>
        {% endblock %}
    </div>
{% endblock %}
