{% extends "BeniBdthequeBundle::Default/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="container">
    <div class="starter-template">
        {% block fos_user_content %}
        <p>
        {{ 'resetting.check_email'|trans({'%email%': email}) }}
        </p>
        {% endblock %}
    </div>
</div>
{% endblock %}
