{% extends "BeniBdthequeBundle::Default/layout.html.twig" %}

{% block body %}
    {% if invalid_username is defined %}
        <div class="alert alert-danger">{{ invalid_username }} est inconnu</div>
    {% endif %}
    <h2 class="txt-white">Mot de passe oublié</h2>
    <div class="well">
        {% block fos_user_content %}
            {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
