{% extends "BeniBdthequeBundle::Default/layout.html.twig" %}

{% block body %}
    <h2 class="txt-white">Modifer mon profil</h2>
    <div class="well">
        {% block fos_user_content %}
            {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
