{% extends "BeniBdthequeBundle::Default/layout.html.twig" %}

{% block body %}
    <div class="fos_user_user_show">
        <p>Login: {{ user.username }}</p>

        <p>Email: {{ user.email }}</p>
    </div>
{% endblock %}
