<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Bdthèque{% endblock %}</title>

    <!-- Bootstrap -->
    {% stylesheets 'bundles/benibdtheque/css/bootstrap.min.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

</head>
<body>


{% block flashBag %}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="flash-info">
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endblock %}

{% block body %}
{% endblock %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
{% javascripts '@BeniBdthequeBundle/Resources/public/js/bootstrap.min.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>
