{% extends "BeniBdthequeBundle::Default/layout.html.twig" %}

{% block title %}{{ parent() }} - ajouter une bd{% endblock %}

{% block body %}
    <h2 class="txt-white">Ajouter une BD</h2>
    {% include "BeniBdthequeBundle:ComicStrip:form.html.twig" %}
    <a href="{{ path('beni_bdtheque_comicstrip_list') }}" class="btn btn-primary">Retour liste</a>
{% endblock %}
