{% extends "BeniBdthequeBundle::Default/layout.html.twig" %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
    <h2>Ma Bdtheque!!</h2>
    <a href="{{ path('beni_bdtheque_comicstrip_list') }}">afficher ma liste de BDs</a>
{% endblock %}
