{% extends "BeniBdthequeBundle::Default/layout.html.twig" %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
    <div class="container">
        <div class="starter-template">
            <h2>Ma Bdtheque!!</h2>
            <a href="{{ path('beni_bdtheque_list') }}">afficher ma liste de BDs</a>
        </div>
    </div>
{% endblock %}
