body {
    padding-top: 50px;
    background-color: #000000;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

/* Forms */
label {
    margin-bottom: 0px;
}
.form_row {
    margin-bottom: 7px;
}

/* Typo */
.txt-white {
    color: #ffffff;
}

.txt-black {
    color: #000000;
}

.txt-bold {
    font-weight: bold;
}

/* pagination */
.pagination-count {
    text-align: left;
    font-weight: bold;
}
.pagination-sort {
    text-align: center;
}
.pagination-bouton {
    text-align: right;
}
.pagination-sorted {
    font-weight: bold;
}
