{% extends "BeniBdthequeBundle::Default/layout.html.twig" %}

{% block title %}{{ parent() }} - ajouter une série{% endblock %}

{% block body %}
    <h2 class="txt-white">Ajouter une série</h2>
    {% include "BeniBdthequeBundle:Series:form.html.twig" %}
    <a href="{{ path('beni_bdtheque_series_list') }}" class="btn btn-primary">Retour liste</a>
{% endblock %}
