{% extends "BeniBdthequeBundle::Default/layout.html.twig" %}

{% block body %}
<div class="container">
    <div class="starter-template">
        {% block fos_user_content %}
            {% include "FOSUserBundle:Group:list_content.html.twig" %}
        {% endblock fos_user_content %}
    </div>
</div>
{% endblock %}
